temp/

#Python

# general things to ignore
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.swp

# due to using tox and pytest
.tox
.cache

# virtual env
/venv
/.venv

# html test coverage
htmlcov/

# coverage files
.coverage

# pycharm files
.idea/

# JS
node_modules/

# Dependencies
dependencies/*/
*/bt2
*/swig

traces/
