{% extends "base.html.jinja" %}

{%- macro print_json(rs) %}
      {%- for region_name, child in rs.children.items() %}
      {
         "id": "{{region_name}}",
         "region": "{{region_name}}",
         "pets": "{{child.pet_count}}",
         "count": "{{ child.count_each if child.counts_match else "MULTIPLE"}}",
         "mean": "{{ "{0:0.5f}".format(child.total_mean_s) }}",
         "min": "{{ "{0:0.5f}".format(child.total_min_s) }}",
         "minpet":"{{child.total_min_pet}}",
         "max": "{{ "{0:0.5f}".format(child.total_max_s) }}",
         "maxpet":"{{child.total_max_pet}}",
         "open": "false"
         {%- if child.children|length > 0 %}
         , "data": [
         {{ print_json(child) }}
         ]
         {%- endif %}
      }
      {%- if not loop.last %}
      ,
      {%- endif %}
      {%- endfor %}
{%- endmacro %}

{% block main %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Timing Summary</h1>
      </div>

      <div id="summary_timing_table"></div>

	  <script>

	  var data = [
	  {{ print_json(region_summary.children["Unknown"]) }}
	  ];

	  webix.ui({
	      id: "timingsum",
	      view: "treetable",
	      container: "summary_timing_table",
	      select: "row",
	      clipboard: "selection",
	      columns:[
              { id:"region",	header:"Region",	width:250, template:"{common.treetable()} #region#"},
              { id:"pets",	    header:"PETs"},
              { id:"count",	    header:"Count"},
              { id:"mean",      header:"Mean (s)", sort:"int"},
              { id:"min",	    header:"Min (s)", sort:"int"},
              { id:"minpet",    header:"Min PET"},
              { id:"max",	    header:"Max (s)", sort:"int"},
              { id:"maxpet",    header:"Max PET"}
          ],
	      autoheight: true,
	      autowidth: true,
	      //on:{
		  //onAfterSelect:function(selection, preserve){
		      //var text = $$("timingsum").getSelectedId(true).join();
		  //    webix.message("Selected: "+selection)
		  //}
	      //},
          data:data
	  });
	</script>

{% endblock main %}
